 <form method = "post">
   <div class="radio">
     <label><input type="radio" name="type" id="decade" value="decade" checked>Playlist by Decade</label>
   </div>
   <div class="radio">
     <label><input type="radio" name="type" id="genre" value="genre">Playlist by Genre</label>
   </div>
   <div class="input-group">
     <span class="input-group-addon">Playlist name</span>
     <input id="name" type="text" class="form-control" name="name" placeholder="80's, Punk">
    </div>
  <div>
  <button>Create!</button>
  </div>
</form> 