<form method="post" enctype="multipart/form-data">
 <div>
   <label for="file">Choose .json file to upload: </label>
   <input type="file" id="file" name="file" accept=".json">
 </div>
 <div>
   <button>Submit</button>
 </div>
</form>
