<p><%= @table_desc %></p>
<table>
  <tr>
    <th>Name </th>
  </tr>
  <% @playlists.each do |playlist| %>
  <tr>
    <td><a href="/playlist/<%= playlist[:playlist_name] %>"><%= playlist[:playlist_name] %></a></td>
  </tr>
  <% end %>
</table>
<% if @playlists.empty? %>
<p></p>
<p style="font-size:150%;">Looks like there aren't any playlists yet!</p>
<% end %>
<a href="/create_playlist" class="btn" role="button" style="padding-left:0;">Add Playlist</a>
